/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* header */
/*navbar*/

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem 8%;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem 8%;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;

}

.nav-links a {
    text-decoration: none;
    color: #3452f5;
}

.nav-auth {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-auth i {
    color: #3452f5;
    font-size: 25px;
}

.btn-primary {
    background: #3452f5;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: none;
}

.logo img {
    width: 50%;
}

/* body */
/*banner*/
.banner img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
    /* display: block; */
    margin: auto;
}

.img-banner {
    background-image: url('../image/banner/Frete Grátis Banner.png');
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* .img-banner h2 {
    font-size: 200px;
    color: red;
    padding-left: 300px;
    padding-left: 191px;
    padding-top: 162px;
    line-height: 53px;
    text-transform: uppercase;
} */

/*produtos*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: 40% 30%;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
}

.btn-primary-products {
    background: #3452f5;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}

.preco {
    font-weight: bold;
}

/*botões ver mais, produtos e duvidas*/

.container-btn-produtos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-btn-duvidas {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-VerMais {
    background: #3452f5;
    padding: 12x 25px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 20px 30px;
    font-size: 20px;
}

/*feedback*/

.msg-acao {
    text-align: center;
    color: #3452f5;
    font-size: 25px;
}

.msg-acao img {
    width: 20%;
    height: 500px;
}

/*footer*/
footer {
    padding: 3rem 8%;
    background: #3452f5;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer h3 {
    padding: 15px 0px;
    text-align: center;
}

footer p {
    text-align: center;
}

footer i {
    padding: 15px 0;
    font-size: 28px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*página produtos*/
.produtos {
    padding: 200px 8% 4rem;
    background: #f9f9f9;
}

.titulo {
    padding: 120px 8% 4rem;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #222;
}

/*página Perguntas*/
.titulo-perguntas {
    padding: 120px 8% 4rem;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.5rem;
    color: #222;
}

.faq-section {
    padding: 5rem 8%;
    font-weight: bold;
    font-size: 18px;
}

.item-pergunta {
    border: 1px solid #eee;
    margin-bottom: 15px;
    border-radius: 12px;
    padding: 15px;
}

.pergunta-header {
    padding: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.pergunta-content {
    padding: 20px;
    background: #fafafa;
    color: #555;
    line-height: 1.6;
}

/*vídeo externo*/
.video-externo {
    text-align: center;
    color: #3452f5;
    font-size: 25px;
}

/*etiquetas produtos*/

.home-etiqueta-off {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #3452f5;
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    top: 15px;
    right: 15px;
    background-color: #3452f5;
}

.etiqueta {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #3452f5;
    padding: 8px 12px;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.etiqueta.etiqueta-natural {
    top: 15px;
    right: 15px;
    background-color: #3452f5;
}

.etiqueta.etiqueta-off {
    top: 55px;
    right: 15px;
    background-color: #3452f5;
}

.etiqueta.etiqueta-importado {
    top: 95px;
    right: 15px;
    background-color: #3452f5;
}